@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600&family=Barlow+Semi+Condensed:wght@400;600&display=swap');
@import '../node_modules/bootstrap/scss/functions';

$custom-colours: (
    'navy': rgb(78, 91, 98),
    'light-blue': rgb(156, 201, 203),
    'brown': rgb(124, 84, 87),
    'orange': rgb(214, 145, 104),
);

$success: rgb(99, 137, 79);

$btn-color: #3B3E3B;

$nav-link-font-size: 1.5em;

// none of these work to change the navbar toggler colour
// $navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
// $navbar-toggler-border-color: rgba(255,255,255, 1);
// $navbar-toggler-border-color: white;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/buttons";

body{
    font-family: 'Barlow Semi Condensed', Arial, Helvetica, sans-serif !important;
    color: #525652;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif !important;
}

// none of these work
// .navbar-toggler-icon{
//     color: white;
//     border-color: white;
//     text-emphasis-color: white;
//     outline-color: white;
//     override-colors: white;
//     // background-color: white;
// }

#banner{
    background-image: url(/images/Greenville-Web-banner.jpg);
    width:100%;
    // height:auto;
    min-height: 500px;
    gap: 1em;
}

.card img{
    max-height:400px;
}


$theme-colors: map-merge($theme-colors, $custom-colours);
@import '../node_modules/bootstrap/scss/bootstrap.scss';